.vscode
Lab4_Lexer/build
Lab4_Lexer/myTestFile/
Lab4_Lexer/test
Lab5_Parser/build
Lab5_Parser/myTestFile
Lab5_Parser/test
Lab6_TypeChkCodeGnr/build
Lab6_TypeChkCodeGnr/test
Lab6_TypeChkCodeGnr/myTestFile